In [ ]:
import pandas as pd
import datetime
import time
import os
import psycopg2
import csv
from io import StringIO
from pprint import pprint
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

In [2]:
db_connection = psycopg2.connect(host='127.0.0.1',dbname="postgres", user="postgres" , password="root")

db_connection.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT) 

cursor = db_connection.cursor()

# comment the following line if you already created the database 
# Only once you need to create the database

cursor.execute("CREATE DATABASE chicago_divvy_trips;")

In [3]:
db_connection = psycopg2.connect(host='127.0.0.1',dbname="chicago_divvy_trips", user="postgres" , password="root")

cursor = db_connection.cursor()

In [4]:
db_connection.commit()

In [5]:
cursor.execute("DROP TABLE IF EXISTS divvy_trips")
cursor.execute("DROP TABLE IF EXISTS register")
cursor.execute("DROP TABLE IF EXISTS reviews")
cursor.execute("DROP TABLE IF EXISTS apiDetails")

In [6]:
db_connection.commit()

In [7]:
cursor.execute("""CREATE TABLE divvy_trips(
                
                trip_id INTEGER,
                start_time timestamp,
                end_time timestamp,
                bikeid INTEGER
                
               );""")

In [ ]:
cursor.execute("""CREATE TABLE register(
                firstName TEXT,
                lastName TEXT,
                address TEXT,
                zipcode INTEGER,
                userName TEXT,
                password TEXT,
                sportsInterested TEXT,
                Where_IS GEOGRAPHY);""")

In [ ]:
cursor.execute("""CREATE TABLE reviews(
                userName TEXT,
                eventName TEXT,
                reviews TEXT,
                ratings INTEGER,
                Where_IS GEOGRAPHY);""")

In [ ]:
cursor.execute("""CREATE TABLE apiDetails(
                eventName TEXT,
                date DATE,
                venue TEXT,
                city TEXT,
                category TEXT,
                zipcode INTEGER,
                Where_IS GEOGRAPHY);""")

In [ ]:
cursor.execute("""CREATE TABLE divvy_stations_realtime_status(
                altitude FLOAT,
                availableBikes INTEGER,
                availableDocks INTEGER,
                city TEXT,
                id INTEGER,
                is_renting BOOLEAN,
                kioskType TEXT,
                landMark TEXT,
                lastCommunicationTime timestamp,
                latitude FLOAT,
                location TEXT,
                longitude FLOAT,
                postalCode INTEGER,
                stAddress1 TEXT,
                stAddress2 TEXT,
                stationName TEXT,
                status TEXT,
                statusKey INTEGER,
                statusValue TEXT,
                testStation BOOLEAN,
                totalDocks INTEGER,
                Where_IS GEOGRAPHY);""")

In [8]:
db_connection.commit()

In [9]:
df = pd.read_csv("Divvy_Trips_2018_Q4.csv")

In [10]:
#  sanity test content of dataframe
df.head()

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,20983530,2018-10-01 00:01:17,2018-10-01 00:29:35,4551,"1,698.0",85,Michigan Ave & Oak St,166,Ashland Ave & Wrightwood Ave,Subscriber,Male,1992.0
1,20983531,2018-10-01 00:03:59,2018-10-01 00:10:55,847,416.0,13,Wilton Ave & Diversey Pkwy,144,Larrabee St & Webster Ave,Subscriber,Female,1982.0
2,20983532,2018-10-01 00:05:14,2018-10-01 00:14:08,6188,534.0,59,Wabash Ave & Roosevelt Rd,197,Michigan Ave & Madison St,Subscriber,Male,1986.0
3,20983533,2018-10-01 00:05:48,2018-10-01 00:18:46,6372,778.0,328,Ellis Ave & 58th St,419,Lake Park Ave & 53rd St,Subscriber,Female,1960.0
4,20983534,2018-10-01 00:07:29,2018-10-01 00:25:51,1927,"1,102.0",93,Sheffield Ave & Willow St,159,Claremont Ave & Hirsch St,Subscriber,Female,1993.0

In [11]:
df_trips_sliced = df[['trip_id', 'start_time', 'end_time','bikeid']]

In [12]:
df_trips_sliced.head()

    trip_id           start_time             end_time  bikeid
0  20983530  2018-10-01 00:01:17  2018-10-01 00:29:35    4551
1  20983531  2018-10-01 00:03:59  2018-10-01 00:10:55     847
2  20983532  2018-10-01 00:05:14  2018-10-01 00:14:08    6188
3  20983533  2018-10-01 00:05:48  2018-10-01 00:18:46    6372
4  20983534  2018-10-01 00:07:29  2018-10-01 00:25:51    1927

In [13]:
# Dump the dataframe content into a sring object
data_string = StringIO()
data_string.write(df_trips_sliced.to_csv(index=None, header=None))

35249841

In [14]:
# Copy the data string obect to the database
data_string.seek(0)
with db_connection.cursor() as cursor:
    cursor.copy_from(data_string, "divvy_trips", columns = df_trips_sliced.columns, sep=',')
    db_connection.commit()

In [15]:
db_connection.close()